
packages/System.Data.SQLite.Linq.1.0.104.0/lib/net46/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.104.0/lib/net451/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.104.0/lib/net45/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.104.0/lib/net20/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.104.0/content/net46/web.config.transform
packages/System.Data.SQLite.Linq.1.0.104.0/content/net46/app.config.transform
packages/System.Data.SQLite.Linq.1.0.104.0/content/net451/web.config.transform
packages/System.Data.SQLite.Linq.1.0.104.0/content/net451/app.config.transform
packages/System.Data.SQLite.Linq.1.0.104.0/content/net45/web.config.transform
packages/System.Data.SQLite.Linq.1.0.104.0/content/net40/web.config.transform
packages/System.Data.SQLite.Linq.1.0.104.0/content/net20/web.config.transform
packages/System.Data.SQLite.Linq.1.0.104.0/content/net45/app.config.transform
packages/System.Data.SQLite.Linq.1.0.104.0/content/net20/app.config.transform
packages/System.Data.SQLite.Linq.1.0.104.0/lib/net40/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.EF6.1.0.104.0/tools/net46/install.ps1
packages/System.Data.SQLite.EF6.1.0.104.0/tools/net45/install.ps1
packages/System.Data.SQLite.EF6.1.0.104.0/tools/net451/install.ps1
packages/System.Data.SQLite.Linq.1.0.104.0/content/net40/app.config.transform
packages/System.Data.SQLite.EF6.1.0.104.0/System.Data.SQLite.EF6.1.0.104.0.nupkg
packages/System.Data.SQLite.EF6.1.0.104.0/lib/net451/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.104.0/lib/net40/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.104.0/lib/net45/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.104.0/lib/net46/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.104.0/content/net46/web.config.transform
*.xdt
*.transform
*.nupkg
*.config
*.dll
*.targets
*.txt
*.exe
*.db
*.pdb
*.manifest
*.ps1
*.xml
*.cache
HarvestBug/obj/Debug/HarvestBug.AddTaskWindow.resources
HarvestBug/obj/Debug/HarvestBug.BotConfigure.resources
HarvestBug/obj/Debug/HarvestBug.BotContainer.resources
HarvestBug/obj/Debug/HarvestBug.InsertLinkWindow.resources
HarvestBug/obj/Debug/HarvestBug.MainForm.resources
*.psd1
HarvestBug/obj/Debug/HarvestBug.BotControl.resources
HarvestBug/obj/Debug/HarvestBug.CaptchaForm.resources
*.resources
packages/EntityFramework.6.0.0/tools/EntityFramework.psm1
HarvestBug/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HarvestBug/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HarvestBug/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs/HarvestBug/v15/.suo
